*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
}

#editor-root
{
    font-family: monospace;

    width: 100%;
    height: 100%;

    resize: none;

    color: #fff;
    border: none;
    outline: none;
    background: #00152d;
}
